
.wrapper {
    position: relative;
    grid-column-gap: 1rem;
    column-gap: 1rem;
    width: 90%;
    max-width: 43rem;
    padding: 1rem auto;
    margin: 7rem auto;
    overflow-x: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 7px;
}

th {
    background-color: rgb(240, 132, 150);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

td {
    background-color: rgb(255, 225, 225);
    font-size: 14px;
}
